<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <node pkg="drone_planning" type="drone_planning_node" name="drone_planning_node" output="screen"/>
    
    <arg name="rvizconfig" default="$(find drone_planning)/rviz/drone_planning.rviz" /> 
    <node pkg="rviz" name="rviz" type="rviz" output="screen" args="-d $(arg rvizconfig)"/> 
	   <!--<param name="robot_description" command="$(find xacro)/xacro.py $(find drone_planning)/urdf/quadrotor.urdf.xacro"/>
        <param name="robot_description_semantic" textfile="$(find drone_planning)/moveit_config/config/quadrotor.srdf" /> 
        <param name="use_gui" value="True"/>

 <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>-->
   <!--  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />-->

      <!-- Robot state publisher for the TFs -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
  </node>

</launch>
